# Estructuras Datos

## Listas

In [1]:
#Creación

lista_inicial = [24, 'comercial', False, 3.14]

In [2]:
#Acceso

lista_inicial[1]

'comercial'

In [3]:
lista_inicial[-1]

3.14

In [4]:
#Cantidad de elementos

len(lista_inicial)

4

In [5]:
lista_inicial[len(lista_inicial)-2]

False

In [6]:
lista_inicial.append('ultimo')

In [7]:
lista_inicial

[24, 'comercial', False, 3.14, 'ultimo']

In [8]:
lista_inicial.insert?

In [9]:
lista_inicial.insert(0, 'primero')
lista_inicial

['primero', 24, 'comercial', False, 3.14, 'ultimo']

In [10]:
24 in lista_inicial

True

In [11]:
type(lista_inicial)

list

In [12]:
lista_nombres = ['Maria', 'Jose', 'Jesus', 'Paolo']

In [13]:
lista_nombres.reverse()

In [14]:
lista_nombres

['Paolo', 'Jesus', 'Jose', 'Maria']

In [15]:
lista_nombres.sort()

In [16]:
lista_nombres

['Jesus', 'Jose', 'Maria', 'Paolo']

In [17]:
lista_nombres.pop(0)

'Jesus'

In [18]:
lista_nombres

['Jose', 'Maria', 'Paolo']

**Ejemplo:**

Realizar un programa que según sea la opción ingresada ejecute la operación:

1. Solicite el código de proveedor y lo añada a la lista de proveedores.
2. Solicite el código de proveedor a eliminar y proceda a borrarlo de la lista.
3. Muestre todos los códigos de proveedores registrados.
4. Salir del programa.

In [19]:
#Solución
lista_proveedor = []
while True:
    opcion = int(input("Ingrese la opcion: ",))
    if opcion==1:
        codigo=input("Ingrese el codigo del proveedor para añadir: ")
        lista_proveedor.append(codigo)
    elif opcion==2:
        codigo=input("Ingrese el codigo del proveedor para eliminar: ")
        lista_proveedor.remove(codigo)
    elif opcion==3:
        print(lista_proveedor)
    elif opcion==4:
        break
    else:
        print("Opcion invalidad")

Ingrese la opcion: 9
Opcion invalidad
Ingrese la opcion: 1
Ingrese el codigo del proveedor para añadir: 4
Ingrese la opcion: 1
Ingrese el codigo del proveedor para añadir: 4
Ingrese la opcion: 4

## Tuplas

In [20]:
tuple()

()

In [21]:
tupla_inicial_1 = (24, 'comercial', False, 3.14)

tupla_inicial_2 = 24, 'comercial', False, 3.14

In [22]:
type(tupla_inicial_2)

tuple

In [23]:
tupla_inicial_1[3]

3.14

In [24]:
tupla_inicial_1[-2]

False

## Diccionarios

In [36]:
diccionario_1 = {'Maria':3000, 'Jose':6200, 'Olivia':850}

In [37]:
diccionario_1

{'Maria': 3000, 'Jose': 6200, 'Olivia': 850}

In [38]:
len(diccionario_1)

3

In [39]:
diccionario_1['Jose']
#no se accede por posicion, si no por clave

6200

In [40]:
diccionario_1['Olivia'] = 1800
diccionario_1

{'Maria': 3000, 'Jose': 6200, 'Olivia': 1800}

In [41]:
diccionario_1['Pedro'] = 4500
diccionario_1

{'Maria': 3000, 'Jose': 6200, 'Olivia': 1800, 'Pedro': 4500}

In [42]:
diccionario_1.keys()

dict_keys(['Maria', 'Jose', 'Olivia', 'Pedro'])

In [43]:
for key in diccionario_1.keys():
  print(key)

Maria
Jose
Olivia
Pedro

In [44]:
'Pedro' in diccionario_1.keys()

True

In [45]:
diccionario_1.values()

dict_values([3000, 6200, 1800, 4500])

In [46]:
import pandas as pd

In [47]:
dict_pandas = {
    'Nombre': ['Maria', 'Juan', 'Jose'],
    'Edad'  : [24, 50, 30],
    'Genero': ['F', 'M', 'M']
}

In [48]:
dict_tabla = pd.DataFrame(dict_pandas)

In [49]:
dict_tabla

  Nombre  Edad Genero
0  Maria    24      F
1   Juan    50      M
2   Jose    30      M

In [50]:
dict_tabla.describe()

            Edad
count   3.000000
mean   34.666667
std    13.613719
min    24.000000
25%    27.000000
50%    30.000000
75%    40.000000
max    50.000000

In [51]:
type(dict_tabla)

pandas.core.frame.DataFrame

**Ejemplo:**

Escribir un programa que guarde en un diccionario la relación **divisa : simbolo** y que al solicitar una divisa muestre su símbolo o un mensaje de aviso si la divisa no está en el diccionario y solicite la información para agregarla.
- Euro -> €
- Dólar -> $
- Yen -> ¥

In [52]:
#Solución
dict_divisas = {'Euro':'€', 'Dolar':'$', 'Yen':'¥'}
divisa = input('Ingrese la divisa: ')
if divisa in dict_divisas.keys():
    print(dict_divisas[divisa])
else:
    simbolo = input('Ingrese simbolo: ')
    dict_divisas[divisa] = simbolo

Ingrese la divisa: Euro
€

In [53]:
dict_divisas

{'Euro': '€', 'Dolar': '$', 'Yen': '¥'}

## Set

In [54]:
set_1 = {'Los Olivos', 'SMP', 'Rimac', 'SMP', 'La Molina', 'Los Olivos'}
set_2 = {'SJL', 'SJM', 'Los Olivos', 'Callao', 'San Isidro', 'SMP'}

In [55]:
set_1

{'La Molina', 'Los Olivos', 'Rimac', 'SMP'}

In [56]:
set_2

{'Callao', 'Los Olivos', 'SJL', 'SJM', 'SMP', 'San Isidro'}

In [57]:
set_1.intersection(set_2)

{'Los Olivos', 'SMP'}

In [58]:
set_1 & set_2

{'Los Olivos', 'SMP'}

In [59]:
set_1 | set_2

{'Callao',
 'La Molina',
 'Los Olivos',
 'Rimac',
 'SJL',
 'SJM',
 'SMP',
 'San Isidro'}

In [60]:
set_1 - set_2

{'La Molina', 'Rimac'}

In [61]:
for i in set_1:
  print(i)

SMP
Rimac
Los Olivos
La Molina

In [62]:
set_1.add('Otro')

In [63]:
set_1

{'La Molina', 'Los Olivos', 'Otro', 'Rimac', 'SMP'}

# Ejercicio - Estructura Datos

## Parte 1. Operadores

#### 1.1 Si cuentas con los sgtes datos:

a = '11.2'

b = 50

c = '8'

Imprimir por separados los valores de la parte entera y el residuo de la sgte división:

(b - c)/(a + c)

In [84]:
a = '11.2'
b = 50
c = '8'

#Ingrese su solución aquí

#### 1.2 Si:

a = 15

b = 4

Calcular:

-- EL valor de exacto de a/b

-- La parte entera de a/b

-- El residuo de a/b

Y ahora para a = 20 y b = 5 ?

In [67]:
a = 15
b = 4

#Ingrese su solución aquí

## Parte 2. Listas

a. Crear una lista con los nombres de tus familiares incluido el tuyo

In [68]:
#Ingrese su solución aquí

b. Agrega el nombre de tus 2 mejores amig@s a la lista creada.

In [69]:
#Ingrese su solución aquí

c. Selecciona un sublista desde la posición 2 a la posición 4 ([pos1, pos2, pos3, pos4, pos5, pos6 , ...]) de tu lista

In [70]:
#Ingrese su solución aquí

d. Elimina de la lista tu nombre

In [71]:
#Ingrese su solución aquí

e. Elimina de la lista el elemento de la posición 3.

In [72]:
#Ingrese su solución aquí

f. Calcula el tamaño final de tu lista.

In [73]:
#Ingrese su solución aquí

## Parte 3. Tuplas

a. Crear una tupla con las edades de tus familiares incluido el tuyo

In [74]:
#Ingrese su solución aquí

b. Agrega el nombre de tus 2 mejores amig@s a la lista creada. Se puede?

In [75]:
#Ingrese su solución aquí

c. Crea una nueva tupla con las edades de tus 2 mejores amig@s adicional a la tupla creada. Se puede?

In [76]:
#Ingrese su solución aquí

d. Selecciona un subtupla desde la posición -3 a la posición -1 de tu tupla.

In [77]:
#Ingrese su solución aquí

e. Elimina de la tupla la mayor edad. Se puede? Qué podrías hacer?

In [78]:
#Ingrese su solución aquí

## Parte 4. Sets

a. Crea un conjunto con los siguientes valores: "Comercial", "Riesgos", "Finanzas", "RRHH"

In [79]:
#Ingrese su solución aquí

b. Crea otro conjunto con los siguientes valores: "Finanzas", "Gerencia", "Ventas", "Riesgos", "Logística")

In [80]:
#Ingrese su solución aquí

c. Genera la unión de ambos conjuntos. Y convertirlo en una lista.

In [81]:
#Ingrese su solución aquí

d. Genera la interseccion de ambos conjuntos. Y convertirlo en una tupla.

In [82]:
#Ingrese su solución aquí

e. Genera una lista con los elementos que están en el 1er conjunto pero no en el 2do conjunto. [No usar "if"s ni "for"s]

In [83]:
#Ingrese su solución aquí

## Parte 5. Diccionarios

a. Crea un diccionario vacio.

In [ ]:
#Ingrese su solución aquí

b. Añade 5 elementos al diccionario donde la **Clave** sea un país y el **Valor** sea el número de habitantes.

In [ ]:
#Ingrese su solución aquí

c. Imprime solo las llaves del diccionario.

In [ ]:
#Ingrese su solución aquí

d. Imprime solo los valores del diccionario.

In [ ]:
#Ingrese su solución aquí

e. Actualiza el valor del nro de habitantes del país de tu elección multiplicando su valor por 1.5

In [ ]:
#Ingrese su solución aquí

f. Elimina del diccionario el país con el menor número de habitantes.

In [ ]:
#Ingrese su solución aquí