# ESTRUCTURAS DE CONTROL

# if - elif - else

In [1]:
# if

edad = 60

print('1.Fuera del if')

if edad >= 60:
    print('Adulto mayor')
    print('Dentro del if')
print('2.Fuera del if')

1.Fuera del if
Adulto mayor
Dentro del if
2.Fuera del if

In [2]:
# if - else

edad = 15

if edad >= 60:
  print("Adulto mayor")
else:
  print("Adulto")

Adulto

In [3]:
edad = 35

if edad >= 60:
  print("Adulto mayor")
else:
  if edad <= 25:
    print("Joven")
  else:
    print("Adulto")

Adulto

In [4]:
# if - elif - else

edad = 45

if edad >= 60:
  print("Adulto mayor")
elif edad <= 25:
  print("Joven")
elif edad <= 40:
  print("Adulto joven")
else:
  print("Adulto")

Adulto

# for - while

In [5]:
#while

año = 2015

while año <= 2022:
  print(año)
  año += 1

2015
2016
2017
2018
2019
2020
2021
2022

In [6]:
genero = input('Ingrese el genero:') # G
        # G != M   and      G != F
while genero != 'M' and genero != 'F':
  genero = input('Ingrese el genero: ')

Ingrese el genero:M

In [7]:
while 1:
  genero = input('Ingrese el genero: ')
  if genero == 'M' or genero == 'F':
    break

Ingrese el genero: M

In [8]:
# while True

while True:

  ingreso = int(input('Ingrese el ingreso mensual en soles:'))

  if ingreso > 0:
    print('Ingreso válido')
    break
  elif ingreso == 0:
    print('Dato perdido')
    break
  else:
    print('Ingreso inválido')
    print('Ingrese nuevamente')

Ingrese el ingreso mensual en soles:100
Ingreso válido

In [9]:
#for

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for c in 'Hola mundo!':
  print(c)

H
o
l
a

m
u
n
d
o
!

In [11]:
num = int(input('Ingresa la tabla de multiplicar: '))

for i in range(1,12)

SyntaxError: expected ':' (<ipython-input-11-fe528e61a843>, line 3)

Imprimir la tabla de multiplicación de un número n desde el 1 al 10.

In [12]:
print(12, '*', 1, '=', 12*1)
print(12, '*', 2, '=', 12*2)
print(12, '*', 3, '=', 12*3)
print(12, '*', 4, '=', 12*4)
print(12, '*', 5, '=', 12*5)

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60

In [13]:
n = 13

for i in range(1, 11):
  print(n, '*', i, '=', n*i)

13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

# Ejercicios a resolver - Estructura Control

1. Escribir un programa que calcule el monto final (préstamo + interés) a pagar considerando:
- Solicitar el monto del préstamo **M**.
- Si se trata de un **colaborador** del banco, la tasa es del 10.5%
- Si el cliente es del **segmento** *VIP* la tasa será del 13% si tiene **cuenta** de ahorro,
  de lo contrario la tasa es del 16%
- En otros casos, la tasa es del 18.5%

In [ ]:
#Ingrese su solución aquí

2. Solicitar a, b, c (lados de un triangulo) y devolver si se trata de un escaleno, un isósceles o un equilátero.

In [ ]:
#Ingrese su solución aquí

3. Ingresar el n y mostrar todos los números primos del 2 al n.

In [ ]:
#Ingrese su solución aquí