## Funciones

In [1]:
#Ejemplo 1

def potencia(base, pot):
  resultado = base ** pot
  return resultado

In [2]:
potencia(5, 3)

125

In [3]:
potencia(5)

TypeError: potencia() missing 1 required positional argument: 'pot'

In [4]:
def potencia(base, pot = 2):
  resultado = base ** pot
  return resultado

In [5]:
potencia(5)

25

In [6]:
#Ejemplo 2

def promedio(datos):
    n=len(datos)
    suma=0
    for i in datos:
        suma=suma+i

    promedio=suma/n
    return promedio

In [7]:
promedio([48,20,5,8])

20.25

### Ejercicio 1.

Crear una función que calcule el índice de masa corporal (**peso / talla^2**) y muestre su clasificación según:

<img src="http://tuendocrinologo.com/site/images/stories/aa_su/3594669.png">

In [8]:
#Ingrese su solución aquí

def IMC(peso,talla):
    IMC=peso/talla**2
    if IMC>18.5 and IMC<25:
        print("Normal")
    elif IMC>=25 and IMC<30:
        print("Sobrepeso")
    elif IMC>=30 and IMC<35:
        print("Obesidad Grado I")
    elif IMC>=35 and IMC<40:
        print("Obesidad Grado II")
    elif IMC>40:
        print("Obesidad Grado III")


IMC(65,1.62)

Normal

### Ejercicio 2.

Crear una función que reciba la siguiente lista de DNI y devuelva el número de DNI inválidos.

In [9]:
#Ingrese su solución aquí

lista_dni = ['70047842', '1673181', '00157840', '25750480', '712460','33422233']

def DNI(lista_dnis):
    sum=0
    for i in lista_dnis:
        if len(i)!=8:
            sum=sum+1
    print("El numero de dnis invalidos es: ",sum)


DNI(lista_dni)

El numero de dnis invalidos es:  2

## Funciones lambda

In [10]:
genero = ['F', 'M', 'M', 'F', 'M']
NSE    = ['A', 'A', 'C', 'B', 'C']

In [11]:
# list, al igual es la funcion que nos servirá para castear a una lista
# map, es una función que a cada elemento de un conjunto de datos aplica la función que le indiquemos

list( map( lambda x: 0 if x == 'F' else 1, genero ) )

[0, 1, 1, 0, 1]

In [12]:
list( map( lambda x: 1 if x == 'C' else (2 if x == 'B' else 3), NSE ) )

[3, 3, 1, 2, 1]