#  Ejercicios 2: Funciones


Una función es un conjunto de expresiones y sentencias (algoritmo) que se ejecuta cuando es invocada

def funcion_1():
    # aquí el algoritmo


Para ejecutar una función, es necesario que sea invocada

In [1]:
def funcion_1():
    print("Hola Mundo")

In [2]:
funcion_1()

Hola Mundo


Cuando una función, haga un retorno de datos, éstos, pueden ser asignados a una variable:

In [3]:
def funcion_2():
    return("Hola Mundo")

In [4]:
frase = funcion_2()
print(frase)

Hola Mundo

#### Parámetros por omisión

Se puede asignar parámetros por defecto, esto permite que la función pueda ser invocada con menos parámetros

In [5]:
def saludo(nombre, mensaje='Hola'):
    print(mensaje, nombre)

saludo('Luis Garayar')

Hola Luis Garayar

Se tiene que declarar los argumentos con valores por defecto siempre después de los argumentos obligatorios.

<br>Creamos una función `add_numbers` para que tome dos números y los sume:

In [6]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

<br> Actualizamos `add_numbers` para tomar un tercer parámetro opcional. El uso de `print` permite imprimir múltiples expresiones dentro de una sola ejecución:

In [7]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

<br> Actualizamos `add_numbers` para tomar un parámetro flag opcional:

In [8]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z

print(add_numbers(1, 2, flag=True))

Flag is true!
3

<br>Asignar la función `add_numbers` a la variable `a`:

In [9]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3


Ejemplo: Crear una función que sume los N primeros números naturales

In [10]:
def suma_n(n):
    suma = 0
    for i in range(n+1):
        suma = suma + i
    return(suma)

s = suma_n(10)
print(s)

55

¿Que hace la siguiente función?

In [11]:
def transforma_numero(numero):
    if (numero%2 == 0):
        return(numero*2)
    else:
        return(numero*3)

In [12]:
print(transforma_numero(15))
print(transforma_numero(16))

45
32

## Funciones integradas


El interprete Python tiene un número de funciones integradas (built-in), las cuales están siempre disponibles. Tenemos algunas funciones que ya hemos usado:

abs()    # devuelve el valor absoluto de un número (entero o de coma flotante)
dict()   # permite crear un diccionario
float()  # devuelve un número coma flotante float
help()   # invoca el menú de ayuda del intérprete de Python
int()    # devuelve un número entero
input()  # lee una cadena de caracteres desde la entrada estándar
len()    # devuelve el número de elementos de un tipo de secuencia o colección
list()   # permite crear una lista mutable
long()   # devuelve un número entero largo
max()    # si recibe más de un argumento, devuelve el mayor de ellos
min()    # si recibe más de un argumento, devuelve el menor de ellos
pow()    # recibe dos argumentos, eleva el primero argumento a la potencia del segundo
print()  # permite imprimir en consola lo
range()  # devuelve una lista conteniendo una progresión aritmética de enteros
round()  # redondea un número flotante a una precisión dada en dígitos decimal
set()    # crea un conjunto mutable
str()    # se usa crear una carácter o cadenas de caracteres
sum()    # devuelve la suma de una lista o de una secuencia
tuple()  # permite crear una tupla, que es una lista inmutable
type()   # devuelve el tipo del objeto que recibe como argumento

Veamos algunas funciones adicionales que pueden ser de utilidad:

In [13]:
# eval(): Evalúa una cadena como una expresión
eval('2 + 5')

7

In [14]:
# abs(): Devuelve el valor absoluto de un número (entero o de coma flotante)
abs(-10)

10

In [15]:
# sorted(): devuelve una lista ordenada de los elementos que recibe (lista o cadena de caracteres)
lista = [23, 13, 7, 37]
print(sorted(lista))
cadena = "murcielago"
print(sorted(cadena))

[7, 13, 23, 37]
['a', 'c', 'e', 'g', 'i', 'l', 'm', 'o', 'r', 'u']

In [16]:
# zip(): devuelve una lista de tuplas, donde cada una contiene el elemento iésimo desde cada secuencia de argumento
list(zip(['python', 'zope', 'plone'], [2.7, 2.13, 5.1]))

[('python', 2.7), ('zope', 2.13), ('plone', 5.1)]

In [17]:
paises = ["China", "India", "Estados Unidos", "Indonesia"]
poblaciones = [1391, 1364, 327, 264]
list(zip(paises, poblaciones))

[('China', 1391), ('India', 1364), ('Estados Unidos', 327), ('Indonesia', 264)]

In [18]:
# split(): devuelve una lista con la cadena de caracteres separada por cada indice de la lista
cad = 'leonardo caballero'
cad.split()

['leonardo', 'caballero']

In [19]:
cad.split('o')

['le', 'nard', ' caballer', '']

In [20]:
# swapcase(): devuelve una cadenas de caracteres convertida al opuesto sea MAYÚSCULAS o MINÚSCULAS
cad2 = 'Luis Garayar'
cad2.swapcase()

'lUIS gARAYAR'

In [21]:
# title(): devuelve una cadenas de caracteres con capitales en cada palabra
cad2 = 'programa de televisión'
cad2.title()

'Programa De Televisión'

In [22]:
# iter(): obtiene un iterador de un objeto. En la primera forma
# next(): devuelve el próximo elemento desde un iterador
elemento = iter([1,2,3,4,5])
print(next(elemento))
print(next(elemento))
print(next(elemento))
print(next(elemento))
print(next(elemento))

1
2
3
4
5

In [23]:
elemento2 = iter("Plano")
print(next(elemento2))
print(next(elemento2))
print(next(elemento2))
print(next(elemento2))
print(next(elemento2))

P
l
a
n
o

In [24]:
# map(): ejecuta una función sobre cada elemento de un iterador (generalmente una lista o tupla)
def dup(n):
    return n * 2

list(map(dup, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [25]:
def mult(a, b):
    return a * b

list(map(mult, [1, 2, 3, 4], [5, 6, 7, 8]))

[5, 12, 21, 32]

## Funciones lambda

In [26]:
potencia = lambda x,y: x**y
potencia(19,3)

6859

In [27]:
[x ** 2 for x in [1,2,3]]    #comprension de listas

[1, 4, 9]

In [28]:
list(map(lambda x: x**2,[1,2,3]))   #aplicando map a una función lambda

[1, 4, 9]

In [29]:
revertir = lambda cadena: cadena[::-1]
revertir("DMC")

'CMD'

In [30]:
impar = lambda numero: numero%2 != 0
impar(4)

False

Aquí hay un ejemplo de `lambda` que toma tres parámetros y agrega los dos primeros:

In [31]:
my_function = lambda a, b, c : a + b

In [32]:
my_function(1, 2, 3)

3

## Comprensión de listas

Vamos a iterar de 0 a 999 y devolver los números pares

In [33]:
my_list = []
for number in range(0, 1000):
    if number % 2 == 0:
        my_list.append(number)
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

Ahora lo mismo pero con ***comprensión de listas***:

In [34]:
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

## Extra: Parámetros arbitrarios

Los parámetros arbitrarios se utilizan cuando la función recibirá un número arbitrario (desconocido) de parámetros. Para definir argumentos arbitrarios en una función, se antecede al parámetro un asterisco (*):

In [35]:
def recorrer_parametros_arbitrarios(parametro_fijo, *arbitrarios):
    print(parametro_fijo, " ---fijo")
    # Los parámetros arbitrarios se corren como tuplas
    for argumento in arbitrarios:
        print(argumento, " ---arbitrario")

In [36]:
recorrer_parametros_arbitrarios('Fixed', 'arbitrario 1', 'arbitrario 2', 'arbitrario 3')

Fixed  ---fijo
arbitrario 1  ---arbitrario
arbitrario 2  ---arbitrario
arbitrario 3  ---arbitrario

In [37]:
recorrer_parametros_arbitrarios('Fixed', 'arbitrario 1', 'arbitrario 2', 'arbitrario 3', 'arbitrario 4', 'arbitrario 5', 'arbitrario 6')

Fixed  ---fijo
arbitrario 1  ---arbitrario
arbitrario 2  ---arbitrario
arbitrario 3  ---arbitrario
arbitrario 4  ---arbitrario
arbitrario 5  ---arbitrario
arbitrario 6  ---arbitrario

Una función que sume todos los números ingresados como parámetros

In [38]:
def suma_arbitraria (a = 0, *args):
    print(a)
    for i in args:
        a = a + i
        print(a)

In [39]:
suma_arbitraria()

0

In [40]:
suma_arbitraria(5)

5

In [41]:
suma_arbitraria(5,8)

5
13

In [42]:
suma_arbitraria(5,8,13,4,5,7,8,10,14)

5
13
26
30
35
42
50
60
74